<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>FindMySpot</title>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/ui.multiselect.js"></script>
    <link type="text/css" href="/static/css/ui.multiselect.css" rel="stylesheet" />
    <script type="text/javascript">
      var map;

      function init() {
        map = new OpenLayers.Map({
          div: "map",
          allOverlays: true
        });
        var osm = new OpenLayers.Layer.OSM();
        var wms_layer = new OpenLayers.Layer.WMS("OpenLayers WMS",
                                                 "http://192.168.0.107/cgi-bin/mapserv/",
                                                 {map: '/home/pollo/esempio.map'});
        map.addLayers([osm, wms_layer]);
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.zoomToMaxExtent();
      }

      $(document).ready(function() {
        $("#tabs").tabs();
        $(".multiselect").multiselect();
        init();
      });
    </script>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1><a href="#">FindMySpot</a></h1>
          <p>blah blah blah</p>
        </div>
      </div>
      <div id="page" class="container">
        <div id="sidebar">
          <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Map Control</a></li>
            <li><a href="#tabs-2">About</a></li>
            <li><a href="#tabs-3">Contact us</a></li>
          </ul>
          <div id="tabs-1">
            <select id="layers" class="multiselect" multiple="multiple" name="layers[]">
              <option value="AFG">Afghanistan</option>
              <option value="ALB">Albania</option>
              <option value="DZA">Algeria</option>
              <option value="AND">Andorra</option>
              <option value="ARG">Argentina</option>
              <option value="ARM">Armenia</option>
              <option value="ABW">Aruba</option>
            </select>
          </div>
          <div id="tabs-2">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
          </div>
          <div id="tabs-3">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
          </div>
          </div>
        </div>
        <div id="map"></div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright (c) 2011 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
  </body>
</html>
