<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>FindMySpot</title>
    <link type="text/css" href="/static/css/ui.multiselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" />

    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tmpl.1.1.1.js"></script>
    <script type="text/javascript" src="/static/js/ui.multiselect.js"></script>
    <script type="text/javascript" src="/static/js/jquery.inlineedit.js"></script>
    <script type="text/javascript">
      var map;
      var insert_mode = false;
      var delete_mode = false;
      var hospital_layer;
      var selectedFeature;
      function init() {
        map = new OpenLayers.Map({
          div: "map",
          allOverlays: true,
          projection: new OpenLayers.Projection("EPSG:900913")
          //displayProjection: new OpenLayers.Projection("EPSG:4326")
        });

        var heatmap_bounds = new OpenLayers.Bounds(-8083703.41947, 2179564.8117,
                                                   -8043582.32418, 2211201.70086);
        heatmap_layer = new OpenLayers.Layer.WMS(
                    "Hospitals Heatmap", "http://192.168.39.54:50000/geoserver/findmyspot/wms",
                    {
                        LAYERS: 'findmyspot:big_distance',
                        STYLES: '',
                        format: "image/png",
                        tiled: true,
                        tilesOrigin : heatmap_bounds.left + ',' + heatmap_bounds.bottom,
                        transparent: true
                    },
                    {
                        buffer: 0,
                        displayOutsideMaxExtent: true,
                        isBaseLayer: false
                    });

        var osm = new OpenLayers.Layer.OSM("OSM",
            "http://tile.openstreetmap.org/${z}/${x}/${y}.png");
        /*var layer = new OpenLayers.Layer.WMS(
           "Global Imagery",
            "http://vmap0.tiles.osgeo.org/wms/vmap0",
            {layers: "basic", sphericalMercator: true}
        );*/

        /*layer = new OpenLayers.Layer.TMS(
                    "political marble",
                    [ "http://de.straba.us/blue_marble_political/" ],
                    { 'layername': ".",
                      'type': "jpg", minZoomLevel:1, numZoomLevels:8 });*/
        var defaultStyle = new OpenLayers.Style({
                                    graphicName: "circle",
                                    strokeColor: "#ff0000",
                                    fillColor: "#ff0000",
                                    pointRadius: "5",
                                    fillOpacity: 0.7,
                                    strokeWidth: "0.5"
                                });
        hospital_layer = new OpenLayers.Layer.Vector("Hospitals",
                                                     {styleMap: defaultStyle});

        $.ajax({url: "/api/get_hospitals",
               success: function(req) {
                 var f = new OpenLayers.Format.GeoJSON();
                 var features = f.read(req);
                 hospital_layer.addFeatures(features);
                 map.zoomToExtent(hospital_layer.getDataExtent(), false);
               }
        });
        map.addLayers([osm, heatmap_layer, hospital_layer]);
        selectControl = new OpenLayers.Control.SelectFeature(
                        [hospital_layer],{clickout: true, toggle: false,
                             multiple: false, hover: false });
        map.addControl(selectControl);
        selectControl.activate();
        hospital_layer.events.on({
          "featureselected": function(e) {
            onFeatureSelect(e.feature);
          },
          "featureunselected": function(e) {
            onFeatureUnselect(e.feature);
          }
        });
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.addControl(new OpenLayers.Control.MousePosition());
        map.events.register("click", map, function(e) {
          if (insert_mode) {
            var p = map.getLonLatFromPixel(e.xy);
            var point = new OpenLayers.Geometry.Point(p["lon"], p["lat"]);
            var f = new OpenLayers.Feature.Vector(point);
            f.attributes = hospital_layer.features[0].attributes;
            for (key in f.attributes) {
              f.attributes[key] = "null";
            }
            hospital_layer.addFeatures([f]);
            $.ajax({
              url: "/api/add_hospital/",
              type: "post",
              data: {lat: p["lat"], lon: p["lon"]},
              success: function(req) {}
            });
          }
        });

        layers = map.layers;
        for (var i=0; i<layers.length; i++) {
          if (layers[i].name.indexOf("OpenLayers.") == -1) {
            $(".multiselect").append($("<option></option>").
                attr("value", layers[i].name).
                attr("selected", true).
                text(layers[i].name));
          }
        }
        $(".multiselect").multiselect({
          selected:
            function(event, ui) {
              map.getLayersByName($(ui.option).val())[0].setVisibility(true);
            },
          deselected:
            function(event, ui) {
              map.getLayersByName($(ui.option).val())[0].setVisibility(false);
            }
        });
      }

      function onPopupClose(evt) {
        selectControl.unselect(selectedFeature);
        $("#edit_info").empty();
      }

      function save_feature_edit(e, data) {
        console.log($(e.target).parent());
        console.log(data);
        console.log(selectedFeature);
        var type = $(e.target).parent().parent().attr("type");
        d = {}
        d[type] = data.value;
        $("#baloon_name").text(data.value);
        selectedFeature.attributes[type] = data.value;
        $.ajax({
          url: "/api/edit_hospital/"+selectedFeature.attributes.id+"/",
          type: "post",
          data: d,
          success: function(req) {
          }
        });
      }

      function onFeatureSelect(feature){
        selectedFeature = feature;
        if (delete_mode) {
          $.ajax({
            url: "/api/delete_hospital/"+selectedFeature.attributes.id+"/",
            type: "post",
            data: "",
            success: function(data) {
              hospital_layer.removeFeatures([selectedFeature]);
            }
          })
        }
        else {
          var a = feature.attributes;
          selectedFeature = feature;
          var desc = $("<div/>");
          desc.html("<p id='baloon_name'>"+a["name"]+"</p>");
          popup = new OpenLayers.Popup.FramedCloud("chicken",
                      feature.geometry.getBounds().getCenterLonLat(),
                      new OpenLayers.Size(1500,1000),
                      desc.html(),
                      null,
                      true,
                      onPopupClose);
          feature.popup = popup;
          map.addPopup(popup);
          var edit = "";
          for (key in a) {
            if (key != "id") {
              edit += "<p><span>"+key+": </span><span type='"+key+
                      "'><span class='editable'>"+a[key]+"</span></span></p>";
            }
          }
          $("#edit_info").html(edit);
          $('.editable').inlineEdit({save: save_feature_edit});
        }
      }

      function onFeatureUnselect(feature) {
        map.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
      }

      function toggle_insert() {
        if (insert_mode) {
          $("#insert_button").removeClass("success");
          insert_mode = false;
        }
        else {
          $("#insert_button").addClass("success");
          insert_mode = true;
        }
      }

      function toggle_delete() {
        if (delete_mode) {
          $("#delete_button").removeClass("success");
          delete_mode = false;
        }
        else {
          $("#delete_button").addClass("success");
          delete_mode = true;
        }
      }

      $(document).ready(function() {
        $("#tabs").tabs();
        $("#insert_button").click(toggle_insert);
        $("#delete_button").click(toggle_delete);
        init();
        $('#tabs').height('100%');
        $('.list-container').width('49%');
      });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1>HaHeatMap <span>Health Facilities Distribution Analysis</span></h1>
        </div>
      </div>
      <div id="page" class="container">
        <div id="sidebar">
          <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Map Control</a></li>
            <li><a href="#tabs-2">About</a></li>
            <li><a href="#tabs-3">Contact us</a></li>
          </ul>
          <div id="tabs-1">
            <select id="layers" class="multiselect" multiple="multiple" name="layers[]">
            </select>
            <div class="buttons">
              <button class="btn" id="insert_button">Insert mode</button>
              <button class="btn" id="delete_button">Delete mode</button>
            </div>
            <div>
              <div id="edit_info"></div>
            </div>
          </div>
          <div id="tabs-2">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
          </div>
          <div id="tabs-3">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
          </div>
          </div>
        </div>
        <div id="map"></div>
      </div>
    </div>
{#    {% csrf_token %}#}
{#    <script>#}
{#        var csrf = $('input[name="csrfmiddlewaretoken"').val();#}
{#        $.ajaxSetup({headers: {'CSRFToken': csrf} });#}
{#    </script>#}
</body>
</html>
