* {
  margin: 0;
  padding: 0;
}

html, body, #wrapper {
    height: 100%;
    overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  /*background: #E3E3E3;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #8A8985;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #404040;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

h1 span {
    font-size: 18px;
    color: #bfbfbf;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.6em;
}

p, ul, ol {
  margin-top: 0;
  line-height: 180%;
}

ul, ol {
}

a {
  text-decoration: none;
  color: #00008B;
}

a:hover {
}

#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 95%;
}

#header {
  margin: 1% 0 1%;
}

#logo {
  float: left;
  width: 100%;
}


#header h1 {
  /*letter-spacing: -2px;*/
  /*font-size: 3.2em;*/
  width: 60%;
  float: left;
}

#alert_box {
  min-width: 15%;
  right: 2%;
  bottom: 0;
  position: fixed;
  opacity: 0.95;
  z-index: 99999;
}

#page {
  margin: 0 auto;
  padding: 20px;
  height: 83%;
  background: #FFF;
  border: 1px solid #EEE;
  clear: both;
}

#sidebar {
  float: left;
  width: 34%;
  height: 100%;
  font-size: 0.7em;
  padding-right: 1%;
}

#tabs {
}

.multiselect {
  width: 98%;
  height: 200px;
}

#tabs-1, #tabs-2, #tabs-3 {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

#tabs-2, #tabs-3 {
  padding: 3%;
}

#tabs-3 li {
  color: #222;
}

#edit_info {
  padding: 2%;
}

#footer {
  clear: both;
  text-align: center;
}

#map {
  float: right;
  height: 100%;
  width: 65%;
}

.ui-widget.ui-multiselect {
    overflow: hidden;
}

.ui-multiselect {
    border: 1px solid #aaa !important;
}

.ui-multiselect .ui-widget-header {
    font-size: 9px;
}

#nominatim {
    padding-top: 3%;
    padding-bottom: 3%;
}

#nominatim label {
    width: inherit;
    padding-left: 2%;
    padding-right: 2%;
}

.buttons {
    padding-top: 3%;
    padding-left: 2%;
}

div#map.crosshair {
    cursor: crosshair;
}

.ui-multiselect .ui-element {
    padding-left: 10px;
}

ul.ui-widget-header {
    background: none;
    border: none;
}

.edit {
    display: inline;
}

.edit:hover {
    display: inline;
    background-color: #ffC;
}

.editable_pathology, .editable_service {
    margin-left: 5px;
    margin-right: 5px;
}

.hidden {
    display: none;
}

.login_menu {
    float: right;
}

.login_menu ul {
    list-style-type: none;
}

.login_menu li {
    display: inline;
}

#edit_info button {
 cursor:pointer;
 margin: 1px;
 display:inline-block;
 background-color:#e6e6e6;
 background-repeat:no-repeat;
 background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
 background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
 background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
 background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
 background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
 background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
 padding:3px 12px 4px;
 text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
 color:#333;
 font-size:10px;
 line-height:normal;
 border:1px solid #ccc;
 border-bottom-color:#bbb;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
 -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
 box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
 -webkit-transition:0.1s linear all;
 -moz-transition:0.1s linear all;
 -ms-transition:0.1s linear all;
 -o-transition:0.1s linear all;
 transition:0.1s linear all;
}
#edit_info button:hover {
    background-position:0 -15px;
    color:#333;text-decoration:none;}
#edit_info button:focus {
    outline:1px dotted #666;
}

.field-name {
    font-weight: bold;
}

.editable_time input {
    width: 40px;
}

.expired {
    background-color: #FF9198;
    padding: 3px;
    border: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
