{% load url from future %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HSMapper</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.min.css">
    <link type="text/css" href="{{ STATIC_URL }}/css/ui.multiselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-ui-1.8.16.custom.min.js"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo">
          <h1>HSMapper <span>{% trans "Health Facilities Distribution Analysis" %}</span></h1>
          <div class="login_menu">
            <ul>
              {% if user.is_authenticated %}
              <li>{% trans "Logged in as" %} {{ user }}</li>
              <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
              {% else %}
              <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div id="alert_box" style="display:none;">
          <div class="alert-message warning in fade">
            <a class="close" href="#">×</a>
            <p id="alert_msg">
              <strong>{% trans "Error" %}:</strong> {% trans "something went wrong" %} :/
            </p>
          </div>
        </div>
      </div>
      <div id="page">
      {% block content %}
      {% endblock %}
      </div>
    </div>
    {% csrf_token %}
    <script>
        var csrf = $('input[name="csrfmiddlewaretoken"').val();
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          },
          error: function() {
            alert_msg("{% trans "Error! Request failed" %}");
          }
        });

    </script>
</body>
</html>
