{% load i18n core_filters %}

{% if hospital %}
  {% if not hospital.expiration|is_still_valid %}
    <div id="expired_alert" class="alert-message error">{% trans "Warning! Data is expired" %}</div>
    <div class="expired">
  {% else %}
    <div>
  {% endif %}
  <p>
    <span class="field-name">{% trans "Name" %}:</span>
    <span class="edit" type="name">
      <span class="editable">{{ hospital.name|default_if_none:"" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Description" %}:</span>
    <span class="edit" type="description">
      <span class="editable_text">{{ hospital.description|default_if_none:"" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Address" %}:</span>
    <span class="edit" type="address">
      <span class="editable_text">{{ hospital.address|default_if_none:"" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Phone" %}:</span>
    <span class="edit" type="phone">
      <span class="editable_text">{{ hospital.phone|default_if_none:"" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Email" %}:</span>
    <span class="edit" type="email">
      <span class="editable_text">{{ hospital.email|default_if_none:"" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Type" %}:</span>
    <span class="edit" type="facility_type">
      <span class="editable_type">{{ hospital.facility_type.name|default_if_none:"" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Depends on" %}:</span>
    <span class="edit" type="manager">
      <span class="editable_manager">{{ hospital.manager|default_if_none:"" }}</span>
    </span>
  </p>


  <p id="pathologies_info">
    <span class="field-name">{% trans "Pathologies" %}:</span>
    {% for p in hospital.pathologies.all %}
    <span class="edit">
      <span class="editable_pathology">{{ p.name|default_if_none:"" }}</span>
    </span>
    {% endfor %}
    <span class="edit">
      <span class="editable_pathology"></span>
    </span>
  </p>

  <p id="services_info">
    <span class="edit field-name">{% trans "Services" %}:</span>
    {% for s in hospital.services.all %}
    <span class="edit">
      <span class="editable_service">{{ s.name|default_if_none:"" }}</span>
    </span>
    {% endfor %}
    <span class="edit">
      <span class="editable_service"></span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Expiration" %}:</span>
    <span class="edit" type="expiration">
      <span class="editable_date">{{ hospital.expiration|date:"d/m/Y" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Last update" %}:</span>
    <span>
      <span>{{ hospital.last_updated|date:"d/m/Y" }}</span>
    </span>
  </p>

  <p>
    <span class="field-name">{% trans "Updated by" %}:</span>
    <span>
      <span id="updated_by">{{ hospital.updated_by|default_if_none:"" }}</span>
    </span>
  </p>

  {% if user.is_authenticated or user.is_staff or hospital.open_24h %}
    <p>
      <span class="field-name">{% trans "Open 24h" %}:</span>
      <span class="edit" type="open_24h">
        <span class="editable_checkbox">{{ hospital.open_24h|yesno:_("Yes,No,Unknown") }}</span>
      </span>
    </p>
  {% endif %}

  {% if user.is_authenticated or user.is_staff or not hospital.open_24h %}
  <p>
    <span class="field-name">{% trans "Opening times" %}:</span>
    <table>
      {% for wd in weekdays %}
      <tr>
        <th>
          <span>{{ wd.1 }}</span>
        </th>
        {% for optime in hospital.openingtime_set|filter_wd:wd %}
        <td>
          <span class="edit" type="opening" wd="{{ wd.0 }}" index="{{ optime.index }}" >
            <span class="editable_time">{{ optime.opening|default_if_none:""|time:"H:i" }}</span>
          </span>
          -
          <span class="edit" type="closing" wd="{{ wd.0 }}" index="{{ optime.index }}" >
            <span class="editable_time">{{ optime.closing|default_if_none:""|time:"H:i" }}</span>
          </span>
        </td>
        {% endfor %}
        {% with last_op=hospital.openingtime_set.all|filter_wd:wd|get_item:-1 %}
          {% if user.is_authenticated or user.is_staff %}
            {% if not last_op or last_op.opening and last_op.closing %}
              <td> {# new field for new data #}
                <span class="edit" type="opening" wd="{{ wd.0 }}">
                  <span class="editable_time"></span>
                </span>
                -
                <span class="edit" type="closing" wd="{{ wd.0 }}">
                  <span class="editable_time"></span>
                </span>
              </td>
            {% endif %}
          {% endif %}
        {% endwith %}
      </tr>
      {% endfor %}
    </table>
  </p>

  {% endif %}

{% else %}
  <p>{% trans "Error: Not found" %}</p>
{% endif %}

</div>
