{% if hospital %}

<p>
  <span>Name:</span>
  <span type="name">
    <span class="editable">{{ hospital.name }}</span>
  </span>
</p>

<p>
  <span>Description:</span>
  <span type="description">
    <span class="editable_text">{{ hospital.description }}</span>
  </span>
</p>

<p>
  <span>Address:</span>
  <span type="address">
    <span class="editable_text">{{ hospital.address }}</span>
  </span>
</p>

<p>
  <span>Phone:</span>
  <span type="phone">
    <span class="editable_text">{{ hospital.phone }}</span>
  </span>
</p>

<p>
  <span>Email:</span>
  <span type="email">
    <span class="editable_text">{{ hospital.email }}</span>
  </span>
</p>

<p>
  <span>Type:</span>
  <span type="facility_type">
    <span class="editable_type">{{ hospital.facility_type.name }}</span>
  </span>
</p>

<p>
  <span>Depends on:</span>
  <span type="manager">
    <span class="editable_manager">{{ hospital.manager.name }}</span>
  </span>
</p>


<p id="pathologies_info">
  <span>Pathologies:</span>
{% for p in hospital.pathologies.all %}
  <span>
    <span class="editable_pathology">{{ p.name }}</span>
  </span>
{% endfor %}
  <span>
    <span class="editable_pathology"></span>
  </span>
</p>

<p id="services_info">
  <span>Services:</span>
{% for s in hospital.services.all %}
  <span>
    <span class="editable_service">{{ s.name }}</span>
  </span>
{% endfor %}
  <span>
    <span class="editable_service"></span>
  </span>
</p>

<p>
  <span>Expiration:</span>
  <span type="expiration">
    <span class="editable_date">{{ hospital.expiration }}</span>
  </span>
</p>

<p>
  <span>Last update:</span>
  <span>
    <span>{{ hospital.last_updated }}</span>
  </span>
</p>

<p>
  <span>Updated by:</span>
  <span>
    <span>{{ hospital.updated_by }}</span>
  </span>
</p>

{% else %}

<p>Error: Not found</p>

{% endif %}
